[submodule "assignment5"]
	path = assignment5
	url = ./assignment5
[submodule "assignment4"]
	path = assignment4
	url = https://github.com/lianexu/ComputerGraphicsAssign4
[submodule "assignment3"]
	path = assignment3
	url = https://github.com/lianexu/ComputerGraphicsCloth
